.aboutme{
    display: flex;
    flex-direction: row;
}
.aboutme .avatar{
    flex: 1;
}
.aboutme .info{
    flex: 3;
}

.aboutme .avatar, .aboutme .info{
    padding: 20px;
}

.info .personal-name{
    font-size: 1.5rem;
}